doctype html

html(lang="en")
head
	title  Author
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity
		|="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	script(src="/js/BBB.js")
body
	div(class='container')
		div(class="row mb-1")
			div(class="col-md-6")
				table(class="table table-bordered table-hover table-sm")
					thead(class="thead-light")
						tr
							th Article Name
							th Revision Number
					tbody
						each item in articles
							tr
								td
									a(class="authors",id=item._id+','+user, value=item._id+','+user)= item._id
								td=item.numOfEdits

