doctype html

html(lang="en")
head
	title Wikipdia Analytics
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity
		|="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

body
	
	div.discription(class='container')
		div(class="row")
			div(class="col-xl-12")
				h1(class="text-center") Reset Your Password
	div(class='container')
		form(method='POST' action='reseting')
			div
				label(for='answer') Answer this question: #{data}
			div(class='text-center')
				input(type='text' id='answer' class="form-control" placeholder="answer" name="answer" required)
			div
				label(for='password') New Password
			div(class='text-center')
				input(type='password' id='password' class="form-control" placeholder="Enter New Password" name="psw" required)
			div(class='text-center')
				button(type='submit' class="btn btn-block btn-success btn-lg") Reset Password